@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlogArticle>
@{
    Layout = "Master.cshtml";
}
<article>
    <h1>@Model.Title</h1>
    <div class="article-meta">
        @if (!string.IsNullOrEmpty(Model.AuthorName))
        {
            <span>By @Model.AuthorName</span>
        }
        @if (Model.PublishDate != default)
        {
            <span> &middot; @(Model.PublishDate.ToString("d MMMM yyyy"))</span>
        }
    </div>
    @{
        var heroImg = Model.Value<Umbraco.Cms.Core.Models.MediaWithCrops>("heroImage");
    }
    @if (heroImg != null)
    {
        <img src="@heroImg.MediaUrl()" alt="@Model.Name" class="featured-image" />
    }
    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <p class="lead">@Model.Description</p>
    }
    <div class="card">
        @Model.BodyText
    </div>
    @if (!string.IsNullOrEmpty(Model.Keywords))
    {
        <div class="tag-list">
            @foreach (var keyword in Model.Keywords.ToString().Split(',', System.StringSplitOptions.TrimEntries | System.StringSplitOptions.RemoveEmptyEntries))
            {
                <span class="tag">@keyword</span>
            }
        </div>
    }
</article>