@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BookStorePage>
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Title</h1>

@if (!string.IsNullOrEmpty(Model.Description))
{
    <p class="lead">@Model.Description</p>
}
@{
    var heroImg = Model.Value<Umbraco.Cms.Core.Models.MediaWithCrops>("heroImage");
}
@if (heroImg != null)
{
    <img src="@heroImg.MediaUrl()" alt="@Model.Name" class="featured-image" />
}


<div class="card">
    <h2>Store Details</h2>
    <dl>
        @if (!string.IsNullOrEmpty(Model.Telephone))
        {
            <dt>Telephone</dt>
            <dd>@Model.Telephone</dd>
        }
    </dl>
</div>

<div class="card">
    <h2>Address</h2>
    <dl>
        @if (!string.IsNullOrEmpty(Model.StreetAddress))
        {
            <dt>Street</dt>
            <dd>@Model.StreetAddress</dd>
        }
        @if (!string.IsNullOrEmpty(Model.AddressLocality))
        {
            <dt>Locality</dt>
            <dd>@Model.AddressLocality</dd>
        }
        @if (!string.IsNullOrEmpty(Model.PostalCode))
        {
            <dt>Post Code</dt>
            <dd>@Model.PostalCode</dd>
        }
    </dl>
</div>