@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<DatasetPage>
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Title</h1>

@if (!string.IsNullOrEmpty(Model.Description))
{
    <p class="lead">@Model.Description</p>
}
@if (Model.HeroImage != null)
{
    <img src="@Model.HeroImage.MediaUrl()" alt="@Model.HeroImage.Name" class="featured-image" />
}


<div class="card">
    <h2>Dataset Details</h2>
    <dl>
        @if (!string.IsNullOrEmpty(Model.Distribution))
        {
            <dt>Distribution</dt>
            <dd><a href="@Model.Distribution">@Model.Distribution</a></dd>
        }
        @if (!string.IsNullOrEmpty(Model.License))
        {
            <dt>Licence</dt>
            <dd>@Model.License</dd>
        }
    </dl>
</div>