@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<FaqPage>
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Title</h1>
@if (!string.IsNullOrEmpty(Model.Description))
{
    <p class="lead">@Model.Description</p>
}
@{
    var heroImg = Model.Value<Umbraco.Cms.Core.Models.MediaWithCrops>("heroImage");
}
@if (heroImg != null)
{
    <img src="@heroImg.MediaUrl()" alt="@Model.Name" class="featured-image" />
}


@if (Model.FaqItems != null && Model.FaqItems.Any())
{
    <div class="faq-list">
        @foreach (var block in Model.FaqItems)
        {
            <div class="card faq-item">
                <h3 class="faq-question">@block.Content.Value("question")</h3>
                <div class="faq-answer">@block.Content.Value("answer")</div>
            </div>
        }
    </div>
}