@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<MedicalConditionPage>
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Title</h1>

@if (!string.IsNullOrEmpty(Model.Description))
{
    <p class="lead">@Model.Description</p>
}
@{
    var heroImg = Model.Value<Umbraco.Cms.Core.Models.MediaWithCrops>("heroImage");
}
@if (heroImg != null)
{
    <img src="@heroImg.MediaUrl()" alt="@Model.Name" class="featured-image" />
}


<div class="card">
    <h2>Condition Details</h2>
    <dl>
        @if (!string.IsNullOrEmpty(Model.PossibleTreatment))
        {
            <dt>Possible Treatment</dt>
            <dd>@Model.PossibleTreatment</dd>
        }
        @if (!string.IsNullOrEmpty(Model.RiskFactor))
        {
            <dt>Risk Factor</dt>
            <dd>@Model.RiskFactor</dd>
        }
        @if (!string.IsNullOrEmpty(Model.SignOrSymptom))
        {
            <dt>Signs &amp; Symptoms</dt>
            <dd>@Model.SignOrSymptom</dd>
        }
    </dl>
</div>