@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<MobileAppPage>
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Title</h1>

@if (!string.IsNullOrEmpty(Model.Description))
{
    <p class="lead">@Model.Description</p>
}
@if (Model.HeroImage != null)
{
    <img src="@Model.HeroImage.MediaUrl()" alt="@Model.HeroImage.Name" class="featured-image" />
}


<div class="card">
    <h2>App Details</h2>
    <dl>
        @if (!string.IsNullOrEmpty(Model.OperatingSystem))
        {
            <dt>Operating System</dt>
            <dd>@Model.OperatingSystem</dd>
        }
        @if (!string.IsNullOrEmpty(Model.ApplicationCategory))
        {
            <dt>Category</dt>
            <dd>@Model.ApplicationCategory</dd>
        }
        @if (!string.IsNullOrEmpty(Model.SoftwareVersion))
        {
            <dt>Version</dt>
            <dd>@Model.SoftwareVersion</dd>
        }
        @if (!string.IsNullOrEmpty(Model.DownloadUrl))
        {
            <dt>Download</dt>
            <dd><a href="@Model.DownloadUrl" class="btn">Download</a></dd>
        }
    </dl>
</div>