@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<MoviePage>
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Title</h1>

@if (!string.IsNullOrEmpty(Model.Description))
{
    <p class="lead">@Model.Description</p>
}
@if (Model.HeroImage != null)
{
    <img src="@Model.HeroImage.MediaUrl()" alt="@Model.HeroImage.Name" class="featured-image" />
}


<div class="card">
    <h2>Film Details</h2>
    <dl>
        @if (!string.IsNullOrEmpty(Model.Director))
        {
            <dt>Director</dt>
            <dd>@Model.Director</dd>
        }
        @if (!string.IsNullOrEmpty(Model.Actor))
        {
            <dt>Cast</dt>
            <dd>@Model.Actor</dd>
        }
        @if (!string.IsNullOrEmpty(Model.Duration))
        {
            <dt>Duration</dt>
            <dd>@Model.Duration</dd>
        }
        @if (Model.DateCreated != default(DateTime))
        {
            <dt>Released</dt>
            <dd>@(Model.DateCreated.ToString("d MMMM yyyy"))</dd>
        }
    </dl>
</div>