@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<MusicAlbumPage>
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Title</h1>

@if (!string.IsNullOrEmpty(Model.Description))
{
    <p class="lead">@Model.Description</p>
}
@{
    var heroImg = Model.Value<Umbraco.Cms.Core.Models.MediaWithCrops>("heroImage");
}
@if (heroImg != null)
{
    <img src="@heroImg.MediaUrl()" alt="@Model.Name" class="featured-image" />
}


<div class="card">
    <h2>Album Details</h2>
    <dl>
        @if (!string.IsNullOrEmpty(Model.ByArtist))
        {
            <dt>Artist</dt>
            <dd>@Model.ByArtist</dd>
        }
        @if (!string.IsNullOrEmpty(Model.NumTracks))
        {
            <dt>Tracks</dt>
            <dd>@Model.NumTracks</dd>
        }
        @if (Model.DatePublished != default(DateTime))
        {
            <dt>Released</dt>
            <dd>@(Model.DatePublished.ToString("d MMMM yyyy"))</dd>
        }
    </dl>
</div>