@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Value("title")</h1>

@if (Model.HasValue("description"))
{
    <p class="lead">@Model.Value("description")</p>
}

<div class="card">
    <h2>Album Details</h2>
    <dl>
        @if (Model.HasValue("byArtist"))
        {
            <dt>Artist</dt>
            <dd>@Model.Value("byArtist")</dd>
        }
        @if (Model.HasValue("numTracks"))
        {
            <dt>Tracks</dt>
            <dd>@Model.Value("numTracks")</dd>
        }
        @if (Model.HasValue("datePublished"))
        {
            <dt>Released</dt>
            <dd>@(((DateTime)Model.Value("datePublished")).ToString("d MMMM yyyy"))</dd>
        }
    </dl>
</div>
