@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Value("title")</h1>

@if (Model.HasValue("description"))
{
    <p class="lead">@Model.Value("description")</p>
}

<div class="card">
    <h2>Event Details</h2>
    <dl>
        @if (Model.HasValue("performer"))
        {
            <dt>Performer</dt>
            <dd>@Model.Value("performer")</dd>
        }
        @if (Model.HasValue("startDate"))
        {
            <dt>Start Date</dt>
            <dd>@(((DateTime)Model.Value("startDate")).ToString("d MMMM yyyy 'at' HH:mm"))</dd>
        }
        @if (Model.HasValue("endDate"))
        {
            <dt>End Date</dt>
            <dd>@(((DateTime)Model.Value("endDate")).ToString("d MMMM yyyy 'at' HH:mm"))</dd>
        }
        @if (Model.HasValue("locationName"))
        {
            <dt>Venue</dt>
            <dd>@Model.Value("locationName")</dd>
        }
        @if (Model.HasValue("locationAddress"))
        {
            <dt>Address</dt>
            <dd>@Model.Value("locationAddress")</dd>
        }
    </dl>
</div>
