@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<NgoPage>
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Title</h1>

@if (!string.IsNullOrEmpty(Model.Description))
{
    <p class="lead">@Model.Description</p>
}
@if (Model.HeroImage != null)
{
    <img src="@Model.HeroImage.MediaUrl()" alt="@Model.HeroImage.Name" class="featured-image" />
}


<div class="card">
    <h2>Organisation Details</h2>
    <dl>
        @if (!string.IsNullOrEmpty(Model.FoundingDate))
        {
            <dt>Founded</dt>
            <dd>@Model.FoundingDate</dd>
        }
        @if (!string.IsNullOrEmpty(Model.AreaServed))
        {
            <dt>Area Served</dt>
            <dd>@Model.AreaServed</dd>
        }
    </dl>
</div>