@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<PhotographPage>
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Title</h1>

@if (!string.IsNullOrEmpty(Model.Description))
{
    <p class="lead">@Model.Description</p>
}

<div class="card">
    <h2>Photo Details</h2>
    <dl>
        @if (!string.IsNullOrEmpty(Model.Creator))
        {
            <dt>Photographer</dt>
            <dd>@Model.Creator</dd>
        }
        @if (!string.IsNullOrEmpty(Model.DateCreated))
        {
            <dt>Date Taken</dt>
            <dd>@(((DateTime)Model.DateCreated).ToString("d MMMM yyyy"))</dd>
        }
        @if (!string.IsNullOrEmpty(Model.ContentUrl))
        {
            <dt>Image</dt>
            <dd><a href="@Model.ContentUrl">View full size</a></dd>
        }
    </dl>
</div>
