@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<PodcastSeriesPage>
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Title</h1>

@if (!string.IsNullOrEmpty(Model.AuthorName))
{
    <p class="article-meta">By @Model.AuthorName</p>
}

@if (!string.IsNullOrEmpty(Model.Description))
{
    <p class="lead">@Model.Description</p>
}
@if (Model.HeroImage != null)
{
    <img src="@Model.HeroImage.MediaUrl()" alt="@Model.HeroImage.Name" class="featured-image" />
}


@if (!string.IsNullOrEmpty(Model.WebFeed))
{
    <div class="card">
        <h2>Subscribe</h2>
        <dl>
            <dt>RSS Feed</dt>
            <dd><a href="@Model.WebFeed">@Model.WebFeed</a></dd>
        </dl>
    </div>
}