@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<SourceCodePage>
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Title</h1>

@if (!string.IsNullOrEmpty(Model.Description))
{
    <p class="lead">@Model.Description</p>
}
@if (Model.HeroImage != null)
{
    <img src="@Model.HeroImage.MediaUrl()" alt="@Model.HeroImage.Name" class="featured-image" />
}


<div class="card">
    <h2>Source Code Details</h2>
    <dl>
        @if (!string.IsNullOrEmpty(Model.ProgrammingLanguage))
        {
            <dt>Programming Language</dt>
            <dd>@Model.ProgrammingLanguage</dd>
        }
        @if (!string.IsNullOrEmpty(Model.CodeRepository))
        {
            <dt>Repository</dt>
            <dd><a href="@Model.CodeRepository">@Model.CodeRepository</a></dd>
        }
    </dl>
</div>