@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}
<article>
    <h1>@Model.Value("title")</h1>
    <div style="color: #6b7280; margin-bottom: 1.5rem;">
        @if (Model.HasValue("authorName"))
        {
            <span>By @Model.Value("authorName")</span>
        }
        @if (Model.HasValue("publishDate"))
        {
            <span> &middot; @(((DateTime)Model.Value("publishDate")).ToString("d MMMM yyyy"))</span>
        }
    </div>
    @if (Model.HasValue("description"))
    {
        <p class="lead" style="font-size: 1.15rem; color: #4b5563;">@Model.Value("description")</p>
    }
    <div class="card">
        @Model.Value("bodyText")
    </div>
</article>