@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Value("title")</h1>

@if (Model.HasValue("description"))
{
    <p class="lead">@Model.Value("description")</p>
}

<div class="card">
    <h2>Dataset Details</h2>
    <dl>
        @if (Model.HasValue("distribution"))
        {
            <dt>Distribution</dt>
            <dd><a href="@Model.Value("distribution")">@Model.Value("distribution")</a></dd>
        }
        @if (Model.HasValue("license"))
        {
            <dt>Licence</dt>
            <dd>@Model.Value("license")</dd>
        }
    </dl>
</div>
