@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Value("title")</h1>

@if (Model.HasValue("description"))
{
    <p class="lead">@Model.Value("description")</p>
}

<div class="card">
    <h2>Reservation Details</h2>
    <dl>
        @if (Model.HasValue("reservationId"))
        {
            <dt>Reservation ID</dt>
            <dd>@Model.Value("reservationId")</dd>
        }
        @if (Model.HasValue("checkinTime"))
        {
            <dt>Check-in</dt>
            <dd>@Model.Value("checkinTime")</dd>
        }
        @if (Model.HasValue("checkoutTime"))
        {
            <dt>Check-out</dt>
            <dd>@Model.Value("checkoutTime")</dd>
        }
    </dl>
</div>
