@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Value("title")</h1>

@if (Model.HasValue("description"))
{
    <p class="lead">@Model.Value("description")</p>
}

<div class="card">
    <h2>Condition Details</h2>
    <dl>
        @if (Model.HasValue("possibleTreatment"))
        {
            <dt>Possible Treatment</dt>
            <dd>@Model.Value("possibleTreatment")</dd>
        }
        @if (Model.HasValue("riskFactor"))
        {
            <dt>Risk Factor</dt>
            <dd>@Model.Value("riskFactor")</dd>
        }
        @if (Model.HasValue("signOrSymptom"))
        {
            <dt>Signs &amp; Symptoms</dt>
            <dd>@Model.Value("signOrSymptom")</dd>
        }
    </dl>
</div>
