@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Value("title")</h1>

@if (Model.HasValue("description"))
{
    <p class="lead">@Model.Value("description")</p>
}

<div class="card">
    <h2>Film Details</h2>
    <dl>
        @if (Model.HasValue("director"))
        {
            <dt>Director</dt>
            <dd>@Model.Value("director")</dd>
        }
        @if (Model.HasValue("actor"))
        {
            <dt>Cast</dt>
            <dd>@Model.Value("actor")</dd>
        }
        @if (Model.HasValue("duration"))
        {
            <dt>Duration</dt>
            <dd>@Model.Value("duration")</dd>
        }
        @if (Model.HasValue("dateCreated"))
        {
            <dt>Released</dt>
            <dd>@(((DateTime)Model.Value("dateCreated")).ToString("d MMMM yyyy"))</dd>
        }
    </dl>
</div>
