@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Value("title")</h1>

@if (Model.HasValue("description"))
{
    <p class="lead">@Model.Value("description")</p>
}

<div class="card">
    <h2>Source Code Details</h2>
    <dl>
        @if (Model.HasValue("programmingLanguage"))
        {
            <dt>Programming Language</dt>
            <dd>@Model.Value("programmingLanguage")</dd>
        }
        @if (Model.HasValue("codeRepository"))
        {
            <dt>Repository</dt>
            <dd><a href="@Model.Value("codeRepository")">@Model.Value("codeRepository")</a></dd>
        }
    </dl>
</div>
