@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}
<h1>@Model.Value("title")</h1>

@if (Model.HasValue("description"))
{
    <p class="lead">@Model.Value("description")</p>
}

<div class="card">
    <h2>Match Details</h2>
    <dl>
        @if (Model.HasValue("competitor"))
        {
            <dt>Opponent</dt>
            <dd>@Model.Value("competitor")</dd>
        }
        @if (Model.HasValue("sport"))
        {
            <dt>Sport</dt>
            <dd>@Model.Value("sport")</dd>
        }
        @if (Model.HasValue("startDate"))
        {
            <dt>Kick-off</dt>
            <dd>@(((DateTime)Model.Value("startDate")).ToString("d MMMM yyyy 'at' HH:mm"))</dd>
        }
        @if (Model.HasValue("locationName"))
        {
            <dt>Venue</dt>
            <dd>@Model.Value("locationName")</dd>
        }
    </dl>
</div>
